https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
pyyaml==5.3.1
requests==2.25.1
stevedore==3.2.2
setproctitle==1.2.1
websockets==8.1
aioamqp==0.14.0
