Source: wazo-websocketd
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4

Package: wazo-websocketd
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 adduser,
 python3-asynqp,
 python3-websockets,
 python3-yaml,
 rename,
 xivo-auth-client-python3,
 xivo-lib-python-python3
Provides: xivo-websocketd
Replaces: xivo-websocketd
Conflicts: xivo-websocketd
Description: Wazo websocket server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 wazo-websocketd is a WebSocket server that delivers Wazo related events to
 clients.
