[Unit]
Description=wazo-websocketd server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target rabbitmq-server.service wazo-auth.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/python3 -u /usr/bin/wazo-websocketd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
