[Unit]
Description=xivo-websocketd server
After=network.target rabbitmq-server.service xivo-auth.service
Wants=rabbitmq-server.service xivo-auth.service

[Service]
Type=simple
User=xivo-websocketd
Group=www-data
ExecStart=/usr/bin/python3 -u /usr/bin/xivo-websocketd

[Install]
WantedBy=multi-user.target
